.Welkom p {
    font-style:italic;
    font-family: Arial, monospace;
    color: darkslategray;
    text-align: center;
    border: 1px dotted grey;
    border-right: hidden;
    border-left: hidden;
    padding: 4px;
}

.Welkom h1 {
    font-family: "Arial";
    text-align: center;

}

.dog, .Gamen, .school {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 auto;
    display: block;
}

p {
    font-family: "Arial";
    text-align: center;
}

.Klas, .Middelbaar{
  background: #88CCF1;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center
}

.Richting {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: left; 
  background-color: white;
}

.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.Navli {
  float: left;
  
}

.Navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.Navli a:hover {
  background-color: #555;
  color: white;
}


table {
  width: 50%; 
  margin: 20px auto;
}

body {
  background-image: url(images/background.jpg);
  background-size: cover;
}

h2 {
    border: 3px solid lightblue;
    border-right: hidden;
    border-left: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
                
}

#Alles {
    margin: 10px;
}



input {
    border: 1px solid;
    padding: 5px 5px;
    font-size: 19px;
    border-radius: 5px;
    position: relative;
    padding: 10px 5px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: block;
}

textarea {
    border-color: gray;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
    font-size: 14px;
    padding: 10px 10px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: block;
}

.Contact {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 48px;
  text-align: center;
}

.ContactInfo {
    padding: 10px;
    font-family: "Lucida S;ans Unicode", "Lucida Grande", sans-serif;
}


#submit {
    margin: 20px auto;
    display: block;
    
}

#submit:hover {
    background-color: #555;
}

label {
    font-family: Arial, sans-serif;
    text-align: center;
    display: block;
    padding-top: 10px
}

.Back {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.BackLi {
  display: block;
  color: aqua; 
  text-align: center;
  padding: 100px 40%;
  text-decoration: none;    
}

.BackLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border: 1px solid grey;
  background-color: black;
  font-family: 'Mansalva';
  font-size: 28px
}

.BackLi a:hover {
    background-color: #555;
    color: white;
}

.SK {
    text-align: center;
    font-family: 'Anton';
    padding: 40px;
    margin: 120px;
    font-size: 70px;
}



